<div class="container">
        <div class="jumbotron mt-5">
            <div class="col-sm-8 mx-auto">
                <h1 class="text-center">Profile</h1>
            </div>
            <table class="table col-md-6 mx-auto">
                <tr>
                    <td>Nom</td>
                    <td>{{auth.getUserDetails()?.first_name}}</td>
                </tr>
                <tr>
                    <td>Prénom</td>
                    <td>{{auth.getUserDetails()?.last_name}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{auth.getUserDetails()?.email}}</td>
                </tr>
            </table>
        </div>
</div>