<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-center" style="font-family: 'Courgette', cursive;">Soyez les bienvenus</h1>
            
        </div>
        <p class="text-center" style="font-family: 'Cinzel', serif;">Pour prendre un rendez-vous et profitez de nos sérvices veuillez vous inscrire</p>
   
         
          <br>
          <br>
          <h3 class="text-center" style="font-family: 'Courgette', cursive;">Prestation Femme </h3>
   <p style="font-family: 'Courgette', cursive;font-weight: bold;text-align: center; color: #866121; margin-top=50px;">ESIC Esthétique est un institut de beauté réservé aux femmes situé en Ile-de-France, à Montrouge, à dix minutes à pied de la station métro 4 de Mairie de Montrouge .

    Modernité et élégance sont au menu de ce salon à l'atmosphère résolument cocon et féminine. C'est un espace lumineux aux tons clairs et épuré qui vous attend, où trois cabines de soin et un espace manucure et beauté des pieds vous sont dédiés.
    
    Chez ESIC Esthétique, on privilégie votre bien-être et votre confort : une équipe d'experts chaleureux vous souhaite la bienvenue avec le sourire et dans la bonne humeur, et ce dès vos premiers pas.
    
    Des soins complets et professionnels vous sont ainsi proposés, alliant dernières technologies et marques reconnues telles qu'O.P.I ou Laboratoire Ericson : beauté du regard, maquillage, épilation sur-mesure, soin minceur ultra performant, soin du visage, du corps ou encore mise en beauté de vos pieds et de vos mains, sont autant de prestations réalisées avec doigté et expertise.
    
    N'attendez plus pour vous offrir une escale beauté chez ESIC Esthétique !.
</p>

<h3 class="text-center" style="font-family: 'Courgette', cursive;">Prestation Homme </h3>
<p style="font-family: 'Courgette', cursive;font-weight: bold;text-align: center; color: #866121; margin-top=50px;">
    Se sentir bien dans sa peau, avoir bonne mine, être en forme, voilà des objectifs voire des obligations pour un homme moderne qui peuvent paraître difficiles à tenir !

    Pour vous y aider notre centre ESIC de beauté à Montrouge, spécialement dédié aux soins et à la beauté des hommes, vous invite à profiter de son savoir-faire. 
    
    Que ce soit pour vous relaxer ou prendre soin de vous, nos spécialistes du bien-être sauront vous guider et vous conseiller avant le soin pour savoir ce qui vous convient le mieux. Experts de la peau, ils vous font profiter des dernières innovations en matière de soins et de produits à travers les marques Dermalogica, Task, Dlab , Kokwai .
    
    Soins du visage et du corps, gommage, massages relaxant ou énergétiques, épilations, manucure, notre carte de soins vous propose diverses formules pour traiter chaque besoin efficacement.
    </p>
    <br>
    <h3 class="text-center" style="font-family: 'Courgette', cursive;">Horaire </h3>
    <p style="font-family: 'Courgette', cursive;font-weight: bold;text-align: center; color: #866121; margin-top=50px;">
 
        Lundi de 10:00 à 20:00<br>
        Mardi de 10:00 à 20:00<br>
        Mercredi de 10:00 à 20:00<br>
        Jeudi de 10:00 à 20:00<br>
        Vendredi de 10:00 à 21:00<br>
        Samedi de 10:00 à 20:00
        </p>
        <br>
        <h3 class="text-center" style="font-family: 'Courgette', cursive;">Adresse</h3>
        <p style="font-family: 'Courgette', cursive;font-weight: bold;text-align: center; color: #866121; margin-top=50px;">
     
            41 rue Perier 92120 Montrouge
            </p>
    </div>
</div>

