<div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 mx-auto">
                <form (submit)="register()">
                    <h1 class="h3 mb-3 font-weight-normal">S'enregistrer</h1>
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" name="first_name" placeholder="Votre nom" [(ngModel)]="credentials.first_name">
                    </div>
                    <div class="form-group">
                        <label>Prénom</label>
                        <input type="text" class="form-control" name="last_name" placeholder="Votre prénom" [(ngModel)]="credentials.last_name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Votre email" [(ngModel)]="credentials.email">
                    </div>
                    <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" class="form-control" name="password" placeholder="Mot de passe" [(ngModel)]="credentials.password">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>