<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form #form="ngForm" (submit)="register()">
                <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>
                <div class="form-group">
                    <label>Nom</label>
                    <input type="text" #nomAction="ngModel" class="form-control" name="first_name" placeholder="Votre nom" required [(ngModel)]="credentials.first_name">
                </div>
                <div [hidden] = "nomAction.valid" style="color:red"> <p id="msg">Veuillez saisir votre nom</p>  </div>
                <div class="form-group">
                    <label>Prénom</label>
                    <input type="text" #prenomAction="ngModel" class="form-control" name="last_name" placeholder="Votre prénom" required [(ngModel)]="credentials.last_name">
                </div>
                <div [hidden] = "prenomAction.valid" style="color:red"><p id="msg">Veuillez saisir votre prénom</p></div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" #mailAction="ngModel" class="form-control" name="email" placeholder="Votre email" required [(ngModel)]="credentials.email">
                </div>
                <div [hidden] = "mailAction.valid" style="color:red"><p id="msg">Veuillez saisir votre mail</p></div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" #passwordAction="ngModel" class="form-control" name="password" placeholder="Mot de passe" required [(ngModel)]="credentials.password">
                </div>
                <div [hidden] = "passwordAction.valid" style="color:red"><p id="msg">Veuillez saisir votre mot de passe</p>  </div>
                <br>
                <button type="submit" [disabled]="!form.form.valid" class="btn btn-lg btn-primary btn-block">Enregistrer</button>
                <br>
            </form>
        </div>
    </div>
</div>